<div class="flex flex-column mt-8 ml-8 row-gap-5 min-h-full align-items-center">
  <h4 class="text-lg font-bold w-4 text-center line-height-4">You forgot your password? No problem. <br>Just enter your
    email and we will send you a link for the reset of your password :)
  </h4>
  <div class="flex flex-column column-row-8 w-3">
    <label for="email" class="text-lg font-bold mt-5">Please enter your email</label>
    <input pInputText type="email" id="email" [(ngModel)]="email" placeholder="Email">
    <div class="flex flex-row w-full mt-5 gap-3 justify-content-between">
      <button pButton label="Send" [disabled]="email == null"
              (click)="sendResetEmail()"></button>
      <button pButton label="Login"
              (click)="routeToLogin()"></button>
    </div>
  </div>
</div>
<p-toast></p-toast>
