.footer {
  background-color: white;
  height: 5em;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;

  div {
    flex: 1;
    color: rgb(131, 58, 180);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .material-icons {
      flex: 1;
      font-weight: 800;
      font-size: 2em;
    }

    span {
      font-weight: 500;
      letter-spacing: 3px;
      flex: 1;
      padding-left: 0.7em;
    }
  }

}

