<div *ngIf="(localMovies$ | async); let movies; else skeleton">
  
  <div class="mb-5">
    <div class="flex flex-row align-items-center justify-content-between">
      <div class="flex flex-column">
        <h2 class="m-0">Welcome Home Nerd :)</h2>
        <p *ngIf="screenSize === ScreenSize.SMALL" class="m-0"> You have watched
          <span class="text-primary">{{ movies.length }} </span> 
          movies and series!</p>
      </div>
      <button *ngIf="screenSize !== ScreenSize.SMALL" pButton label="Create new entry" (click)="routeToNewEntry()" icon="pi pi-plus" class="my-4"></button>
    </div>
  </div>

  <!-- Dashboard -->
  <div class="grid mb-4" *ngIf="screenSize !== ScreenSize.SMALL">
    <div class="col-4">
      <p-card header="Total Watched">
        <h2 class="m-0 text-primary">
            {{movies.length}}
        </h2>
      </p-card>
    </div>

    <div class="col-4">
      <p-card header="Total Liked">
        <h2 class="m-0 text-primary">
            {{getTotalLikedMovies(movies)}}
        </h2>
      </p-card>
    </div>

    <div class="col-4">
      <p-card header="Number of Playlists">
        <h2 class="m-0 text-primary" *ngIf="getTotalNumberOfPlaylists() | async as playlists">
          {{playlists?.length}}
        </h2>
      </p-card>
    </div>
  </div>
  <p-divider class="mb-8"></p-divider>

  <!-- Suggestions -->
  <h2 *ngIf="screenSize !== ScreenSize.SMALL">Suggestions</h2>
  <div class="flex flex-row overflow-scroll gap-2 mb-4" *ngIf="screenSize !== ScreenSize.SMALL && sugestions !== undefined; else skeletonSuggestions">
    <div *ngFor="let suggestion of sugestions">
        <img width="170px" class="h-15rem cursor-pointer" [src]="suggestion.relatedMoviePosterUrl" (click)="routeToMovieInfo(suggestion.suggestionId)">
    </div>
  </div>
  <button *ngIf="screenSize !== ScreenSize.SMALL" pButton label="Generate new suggestions" icon="pi pi-refresh" iconPos="right" class="mb-8" (click)="loadSuggestions()"></button>
  <p-divider *ngIf="screenSize !== ScreenSize.SMALL" class="mb-8"></p-divider>

  <!-- Movie list -->
  <h2>Watched Movies</h2>
  <span class="mb-4 w-full p-input-icon-right">
    <i class="pi pi-search cursor-pointer"></i>
    <input pInputText class="w-full" [(ngModel)]="searchValue" placeholder="Search inside your own movies" />
  </span>
  <app-movie-list [movies]="movies" [showLikeIcon]="true" (clearIconClicked)="deleteMovie($event)" [searchValue]="searchValue"></app-movie-list>
</div>
<ng-template #skeleton>
  <app-skeleton-main-page></app-skeleton-main-page>
</ng-template>

<ng-template #skeletonSuggestions>
  <div class="flex flex-row overflow-scroll gap-2 mb-4">
    <div *ngFor="let number of [0,1,2,3,4]">
      <p-skeleton></p-skeleton>
    </div>
  </div>
</ng-template>


<p-toast position="bottom-center"></p-toast>


