<h2 class="add-movie-form-title">ADD A movie</h2>
<form [formGroup]="addMovieForm" class="login-form">
  <div class="row">
    <div class="form-element">
      <span>Name</span>
      <input formControlName="name"
             matInput
             placeholder="Please enter the name of the movie"
             required>
      <mat-error *ngIf="addMovieForm.controls['name'].invalid">Must not be empty</mat-error>
    </div>
    <span>Genre</span>
    <input formControlName="genre"
           matInput
           placeholder="Please enter the genre"
           required>
  </div>
</form>


<div class="add-movie-form-buttons">
  <button (click)="routeToHome()" class="cancel-button" mat-raised-button>Cancel</button>
  <button (click)="addMovie()" class="add-movie-button" mat-raised-button>Add</button>
</div>
