::ng-deep .container-centering .p-tabmenu .p-tabmenu-nav {
  justify-content: center;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 2rem 4rem;
  border-radius: 0;
  margin-bottom: 0.5rem;
}
