<body>
  <h1>Login</h1>
  <main [formGroup]="loginForm">
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               placeholder="Please enter email"
        >
      </mat-form-field>

    </div>

    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               placeholder="Please enter password"
               [type]="hide ? 'password' : 'text'"
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </div>
  </main>

  <span *ngIf="loggedIn === false">Wrong credentials</span>

  <button mat-raised-button (click)="login()" [disabled]="isUserDataValid()">Login</button>

  <button mat-button (click)="routeToRegister()">Not registered yet? Register here</button>
</body>
