<div *ngIf="movies" class="mb-9">
  <p-table #dt1 [value]="movies" [breakpoint]="'600px'" [globalFilterFields]="['name']" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="dt1.clear()"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="screenSize !== ScreenSize.SMALL">#</th>
        <th>Title</th>
        <th *ngIf="screenSize !== ScreenSize.SMALL">Added On</th>
        <th *ngIf="showLikeIcon">&nbsp;</th>
        <th *ngIf="screenSize !== ScreenSize.SMALL">&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie let-i="rowIndex">
      <tr class="cursor-pointer" *ngIf="movieIncludesSearchValue(movie)">
        <td *ngIf="screenSize !== ScreenSize.SMALL">{{ i + 1 }}</td>
        <td (click)="routeToMovieInfo(movie.id)">{{ movie.name }}</td>
        <td *ngIf="screenSize !== ScreenSize.SMALL">{{ movie.meta?.uploadedOn?.toDate() | date : "shortDate" }}</td>
        <td *ngIf="showLikeIcon">
          <p-button [icon]="movie.liked ? 'pi pi-heart-fill' : 'pi pi-heart'" (click)="likeMovie(movie)"
            [link]="true"></p-button>
          {{ movie.code }}
        </td>
        <td *ngIf="screenSize !== ScreenSize.SMALL">
          <p-button [icon]="'pi pi-trash'" (click)="deleteMovie(movie)" [link]="true"></p-button>
          {{ movie.code }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
