<div *ngIf="movies" class="mb-9">
  <p-table [value]="movies" [breakpoint]="'600px'" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="screenSize !== ScreenSize.SMALL">#</th>
        <th>Title</th>
        <th *ngIf="screenSize !== ScreenSize.SMALL">Added On</th>
        <th *ngIf="showLikeIcon">&nbsp;</th>
        <th *ngIf="screenSize !== ScreenSize.SMALL">&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie let-i="rowIndex">
      <tr class="cursor-pointer" *ngIf="movieIncludesSearchValue(movie)">
        <td *ngIf="screenSize !== ScreenSize.SMALL">{{ i + 1 }}</td>
        <td (click)="routeToMovieInfo(movie.id)">{{ movie.name }}</td>
        <td *ngIf="screenSize !== ScreenSize.SMALL">{{ movie.meta?.uploadedOn?.toDate() | date : "shortDate" }}</td>
        <td *ngIf="showLikeIcon">
          <p-button [icon]="movie.liked ? 'pi pi-heart-fill' : 'pi pi-heart'" (click)="likeMovie(movie)"
            [link]="true"></p-button>
          {{ movie.code }}
        </td>
        <td *ngIf="screenSize !== ScreenSize.SMALL">
          <p-button [icon]="'pi pi-trash'" (click)="deleteMovie(movie)" [link]="true"></p-button>
          {{ movie.code }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>