<div *ngIf="(localMovies$ | async); let movies; else skeleton">
  <div class="mb-5">
    <h2>Welcome Home Nerd :) &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; You have watched &nbsp;<span
      class="text-primary">{{ movies.length }}</span> &nbsp;movies and series!</h2>
    <button pButton label="Create new entry" (click)="routeToNewEntry()" icon="pi pi-plus" class="my-4"></button>
  </div>

  <app-movie-list [movies]="movies"></app-movie-list>
</div>
<ng-template #skeleton>
  <app-skeleton-main-page></app-skeleton-main-page>
</ng-template>





