<div *ngIf="localMovies && localMovies.length > 0">
  <div class="mb-5">
    <h2>Welcome Home Nerd :) &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; You have watched &nbsp;<span
      class="text-primary">{{ localMovies.length }}</span> &nbsp;movies and series!</h2>
    <button pButton label="Create new entry" (click)="routeToNewEntry()" icon="pi pi-plus" class="my-4"></button>
  </div>

  <app-movie-list [movies]="localMovies"></app-movie-list>
</div>
<div *ngIf="!localMovies || localMovies.length <= 0">
  <app-skeleton-main-page></app-skeleton-main-page>
</div>





