<div class="flex flex-column mt-8 ml-8 row-gap-5 min-h-full align-items-center">

  <div class="flex flex-column column-row-8">
    <label for="password" class="text-lg font-bold">Please enter your password</label>
    <p-password [(ngModel)]="password" [toggleMask]="true" class="w-full mb-5" id="password"
                placeholder="Password">
      <ng-template pTemplate="header">
        <h6>Pick a password</h6>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Must have</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>At least six characters</li>
        </ul>
      </ng-template>
    </p-password>
    <label for="confirmPassword" class="text-lg font-bold mt-5">Please confirm your password</label>
    <p-password [(ngModel)]="confirmedPassword" [toggleMask]="true" class="w-full mb-5" id="confirmPassword"
                placeholder="Confirm your password">
      <ng-template pTemplate="header">
        <h6>Pick a password</h6>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Must have</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>At least six characters</li>
        </ul>
      </ng-template>
    </p-password>
    <button pButton label="Register" [disabled]="password == null || password !== confirmedPassword"
            (click)="registerAndRouteToStep4()" class="w-full mt-5"></button>
    <button pButton label="Login"
            (click)="routeToLogin()" class="w-full mt-5"></button>
  </div>
</div>
<p-toast></p-toast>
