//smartphone
@media only screen and (max-width: 900px) {
  .top-bar {
    display: none;
  }
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "b b b b"
    "c c c c"
    "c c c c";
  }

  .left-box {
    display: none;
  }
  .right-box-top {
    padding-left: 1em !important;
    font-size: 7vw !important;
  }

  .poster {
    margin-top: 1em;
    margin-right: 1em ;
    max-height: 40vw ;
    max-width: 40vw ;
  }

  .like-button {

  }
}

//wide-screen
@media only screen and (min-width: 901px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "a b b b b"
    "a c c c c"
    "a c c c c";
  }

  .right-box-top {
    padding-left: 3em;
    span {
      font-size: 4em;
    }
  }

  .poster {
    max-height: 20em;
    max-width: 20em;
    margin-top: 3em;
    margin-right: 5em;
  }


}

.wrapper {
  position: absolute;
  display: grid;
  width: 100%;
  overflow: hidden;
}

.left-box {
  padding-top: 2em;
  padding-left: 1em;
  grid-area: a;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
  background: black;
}

.right-box-top {
  display: flex;
  flex-direction: column;
  grid-area: b;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(91, 91, 101, 1) 0%, rgb(179, 179, 179) 100%);
  color: white;
  justify-content: flex-start;

  span {
    padding-top: 1em;
    flex: 1;
    max-width: 20em;
    line-height: 1em;
    overflow: hidden;
  }
}

.right-box-bottom-column {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(67, 67, 67, 1) 82%, rgba(81, 81, 81, 81) 100%);
  padding-left: 3em;
  padding-top: 2em;
  grid-area: c;
}
.right-box-bottom {
  display: flex;
  flex-direction: row;
  gap: 15em;
}

.movie-list {
  font-weight: 500;
  height: 3em !important;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;

  :hover {
    cursor: default;
  }
}

.isSelected {
  color: rgb(101, 212, 110);
}

.liked {
  top: 0;
  left: 0;
  flex: 1;
  color: rgb(101, 212, 110);
  margin-right: 3em;
}

.not-liked {
  flex: 1;
  color: rgb(178, 178, 178);
  margin-right: 3em;
}

.poster {
  object-fit: scale-down;

}

.title-and-poster {
  display: flex;
}

