<div class="grid nested-grid">
  <div class="hidden sm:inline col-fixed " style="width: 30rem">
    <p-listbox [options]="allMovies" optionLabel="name" [style]="{'min-width':'100%'}"
               [listStyle]="{ 'min-height': '100vh' }"
               [(ngModel)]="newMovieFromList" [virtualScroll]="false"
               (click)="loadNewMovie()"></p-listbox>
  </div>
  <div class="col">
    <div class="min-w-full grid mb-8 pt-4">
      <div class="ml-4 mt-0 pt-0 col">
        <h1>{{ movie?.name }}</h1>
        <p-button [icon]="movie?.liked ? 'pi pi-heart-fill' : 'pi pi-heart'" (click)="likeMovie(movie)"
                  [link]="true"></p-button>
      </div>

      <p-image [src]="movie?.imdb?.img_poster" [preview]="true"
               width="300px" class="col"></p-image>
    </div>
    <div class="grid">
      <div class="col-6">
        <div class="flex flex-row align-items-center gap-4">
          <h4>Genre</h4>
          <div>{{ movie?.genre }}</div>
          <div *ngIf="!movie?.genre" class="line-through">No information</div>
        </div>

      </div>

      <div class="col-6">
        <div class="flex flex-row align-items-center gap-4">
          <h4>Rating</h4>
          <div *ngIf="movie?.rating">{{ movie.rating }} / 10</div>
          <div *ngIf="!movie?.rating" class="line-through">No information</div>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-row align-items-center gap-4">
          <h4>Author</h4>
          <div *ngIf="movie?.author">{{ movie.author }} / 10</div>
          <div *ngIf="!movie?.author" class="line-through">No information</div>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-row align-items-center gap-4">
          <h4>Release Date</h4>
          <div *ngIf="movie?.releaseDate">{{ movie?.releaseDate?.toDate() | date : 'shortDate' }}</div>
          <div *ngIf="!!movie?.releaseDate && !movie?.releaseDate" class="line-through">No information</div>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-row align-items-center gap-4">
          <h4>Actors</h4>
          <div *ngIf="movie?.imdb?.actors">{{ movie?.imdb?.actors }}</div>
          <div *ngIf="!movie?.imdb?.actors" class="line-through">No information</div>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-row align-items-center gap-4">
          <h4>Rank</h4>
          <div *ngIf="movie?.imdb?.rank">#{{ movie?.imdb?.rank }}</div>
          <div *ngIf="!movie?.imdb?.rank" class="line-through">No information</div>
        </div>
      </div>

      <div class="grid min-w-full m-2 mt-8">
        <button pButton (click)="addMovieToDb()" class="col-3 justify-content-center font-bold ">
          Add movie to library
        </button>

      </div>
    </div>
  </div>
</div>

<p-toast [breakpoints]="{'400px': {width: '50%', height: '2rem', left: 0, top: '4rem'}}"></p-toast>
