<app-top-bar class="top-bar"></app-top-bar>
<div class="wrapper">
  <div class="left-box">
    <div (click)="loadNewMovie(movieOfList)" *ngFor="let movieOfList of allMovies" class="movie-list">
      <span [class]="movieOfList?.id === movie?.id ? 'isSelected' : ''">{{movieOfList?.name}}</span>
    </div>
  </div>
  <div class="right-box-top">
    <span>
      {{movie?.name}}
    </span>
    <div>
      <mat-icon [class]="movie?.liked ? 'liked' : 'not-liked'" fontIcon="favorite"></mat-icon>
    </div>
  </div>
  <div class="right-box-bottom">
    <h2>
      {{movie?.name}}
    </h2>
    <h2>
      {{movie?.id}}
    </h2>
    <h2>
      {{movie?.genre}}
    </h2>
  </div>
</div>

<app-footer class="footer-row"></app-footer>
