<app-top-bar class="top-bar"></app-top-bar>
<div class="wrapper">
  <div class="left-box">
    <div (click)="loadNewMovie(movieOfList)" *ngFor="let movieOfList of allMovies" class="movie-list">
      <span [class]="movieOfList?.id === movie?.id ? 'isSelected' : ''">{{movieOfList.name}}</span>
    </div>
  </div>
  <div class="right-box-top">
    <div class="title-and-poster">
      <span>
        {{movie?.name}}
      </span>
      <img [src]="movie?.imdb?.img_poster" class="poster">
    </div>
    <div class="like-button">
      <mat-icon (click)="likeMovie(movie)" *ngIf="movie.liked != null" [class]="movie?.liked ? 'liked' : 'not-liked'"
                fontIcon="favorite"></mat-icon>
    </div>
  </div>
  <div class="right-box-bottom-column">
    <div class="right-box-bottom">
      <h2>
        {{movie?.genre}}
      </h2>
      <h2 *ngIf="movie?.rating">
        {{movie?.rating}} / 10
      </h2>
    </div>
    <div class="right-box-bottom">
      <h2 *ngIf="movie?.author">
        {{movie?.author}}
      </h2>
      <h2>
        {{movie?.releaseDate?.toLocaleDateString()}}
      </h2>
    </div>
    <div class="right-box-bottom">
      <h2>
        {{movie?.imdb?.actors}}
      </h2>
      <h2>
        {{movie?.imdb?.rank}}
      </h2>
    </div>
  </div>
</div>
<app-footer class="footer-row"></app-footer>
