<div *ngIf="screenSize !== smallScreenSize">

    <p-accordion [activeIndex]="0">
        <p-accordionTab>
            <ng-template pTemplate="header">
                <span>Suggestions</span>
            </ng-template>

            <ng-template pTemplate="content">
                <div *ngIf="isLoading; else suggestions">
                    <div class="flex flex-row justify-content-center gap-4 overflow-scroll">
                        <div *ngFor="let i of [0,1,2,3,4,5,6,7]">
                            <p-skeleton height="12rem" width="10rem"></p-skeleton>
                        </div>
                    </div>
                </div>

                <ng-template #suggestions>
                    <div class="flex overflow-scroll gap-4 mb-4">
                        <div *ngFor="let suggestion of sugestions">
                            <img width="130px" class="h-12rem cursor-pointer" [src]="suggestion.relatedMoviePosterUrl"
                                (click)="routeToMovieInfo(suggestion.suggestionId)">
                        </div>
                    </div>
                    <p-button icon="pi pi-refresh" class="mb-8" (onClick)="loadSuggestions()" size="small"
                        severity="secondary"></p-button>
                </ng-template>
            </ng-template>

        </p-accordionTab>
    </p-accordion>


</div>