<form [formGroup]="addMovieForm">
  <div class="flex justify-content-center">
    <h2>Gib einen Namen für deinen neuen Film ein.</h2>
  </div>
  <div class="flex flex-row gap-4 mb-4 ">
    <input pInputText
           class="flex-grow-1"
           formControlName="name"
           placeholder="Neuer Film">
    <button pButton (click)="addMovie()" [disabled]="addMovieForm.controls['id'].value === null"
            class="justify-content-center">Add
    </button>
  </div>

  <div class="cursor-pointer" *ngIf="searchResults.length > 0">
    <p-table [value]="searchResults">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="title">Title
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th pSortableColumn="year">Year
            <p-sortIcon field="year"></p-sortIcon>
          </th>
          <th pSortableColumn="actors">Actors
            <p-sortIcon field="actors"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movie>
        <tr (click)="setMovieInSearchBar(movie)"
            [ngStyle]="{'color': selectedMovieId === movie?.imdb_id ? 'green' : 'primary-color' }">
          <td
          >{{ movie.title }}
          </td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.actors }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>

<p-toast [breakpoints]="{'400px': {width: '50%', height: '2rem', left: 0, top: '4rem'}}"></p-toast>
