//smartphone
@media only screen and (max-width: 900px) {
  .top-bar {
    display: none;
  }

  .form {
    align-items: center;
  }

  input {
    width: 80%;
    padding-left: 1em;
  }

  input::placeholder {
    padding-left: 1em;
  }

  h1 {
    align-self: baseline;
    margin-left: 1.4em;
    font-size: 1.7em;
    font-weight: 500;
  }

  .list {
    padding-left: 2em;


  }

}

//wide-screen
@media only screen and (min-width: 901px) {

  .form {
    margin-left: 5em;
  }

  input {
    width: 50%;
  }

  input::placeholder {
    padding-left: 2em;
  }

  .list {
    padding-left: 5em;

  }
}

body {
  background: rgb(15, 18, 24);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 15em;
  padding-bottom: 6em;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 4em;
  position: fixed;
  z-index: 1000;
  background: rgb(15, 18, 24);
  height: 10em;

  h1 {
    color: white;
  }
}

input {
  height: 3em;
  border-radius: 25px;
  font: 400 14px / 20px Roboto, "Helvetica Neue", sans-serif;
}


*:focus {
  outline: none;
}

.list {
  height: 3em;
  font: 400 16px / 20px Roboto, "Helvetica Neue", sans-serif;
}

.results {
  margin-bottom: 6em;
  margin-top: 12em;

  :hover {
    cursor: pointer;
    color: rgb(101, 212, 110);
  }
}


