<body>
<h1>Login</h1>
<main [formGroup]="registerForm">
  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput
             formControlName="email"
             placeholder="Please enter email"
      >
    </mat-form-field>

  </div>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput
             formControlName="password"
             placeholder="Please enter password"
             [type]="hidePw1 ? 'password' : 'text'"
      >
      <button mat-icon-button matSuffix (click)="hidePw1 = !hidePw1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePw1">
        <mat-icon>{{hidePw1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput
             formControlName="confirmPassword"
             placeholder="Confirm password"
             [type]="hidePw2 ? 'password' : 'text'"
      >
      <button mat-icon-button matSuffix (click)="hidePw2 = !hidePw2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePw2">
        <mat-icon>{{hidePw2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</main>

<button mat-raised-button (click)="register()" [disabled]="isUserDataValid()">Register</button>

<button mat-button (click)="routeToLogin()">Back To Login</button>
</body>
